<div class="contained">
    <app-nav></app-nav>

</div>

<!--====== HERO PART START ======-->
<section id="home" class="hero-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-9 col-xl-9 col-md-10">
                <div class="text-center hero-content">
                    <h1 class=" wow fadeInUp" data-wow-delay=".2s">Vos trajets à prix bas</h1>
                    <p class="wow fadeInUp" data-wow-delay=".4s">Please, purchase full version to get all pages,
                        features and sections.</p><br>
                    <!-- 
                    <a href="https://rebrand.ly/gg-classilist/" rel="nofollow" class="main-btn btn-hover">Purchase
                        Now</a> -->

                </div>
            </div>
        </div>
    </div>
</section>
<!--====== HERO PART END ======-->

<!--====== SEARCH PART START ======-->
<div class="search-area">
    <div class="container">
        <div class="search-wrapper">
            <!--  <form action="#">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-5 col-10">
                        <div class="search-input">
                            <label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
                            <input type="text" name="keyword" id="keyword" placeholder="Product keyword">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-5 col-10">
                        <div class="search-input">
                            <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                            <select name="category" id="category">
                                <option value="none" selected disabled>Categories</option>
                                <option value="none">Vehicle</option>
                                <option value="none">Electronics</option>
                                <option value="none">Mobiles</option>
                                <option value="none">Furniture</option>
                                <option value="none">Fashion</option>
                                <option value="none">Jobs</option>
                                <option value="none">Real Estate</option>
                                <option value="none">Animals</option>
                                <option value="none">Education</option>
                                <option value="none">Matrimony</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-5 col-10">
                        <div class="search-input">
                            <label for="location"><i class="lni lni-map-marker theme-color"></i></label>
                            <select name="location" id="location">
                                <option value="none" selected disabled>Locations</option>
                                <option value="none">New York</option>
                                <option value="none">California</option>
                                <option value="none">Washington</option>
                                <option value="none">Birmingham</option>
                                <option value="none">Chicago</option>
                                <option value="none">Phoenix</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-5 col-10">
                        <div class="search-btn">
                            <button class="main-btn btn-hover">Search <i class="lni lni-search-alt"></i></button>
                        </div>
                    </div>
                </div>
            </form> -->


            <form [formGroup]="form" (submit)="findTrip()" class="row gy-2 gx-3 align-items-center">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-5 col-10">

                        <label for="from">From</label>
                        <div class="search-input">
                            <label for="keyword"><i class="fa fa-car"></i></label>
                            <mat-form-field>
                                <input type="text" placeholder="From ..." matInput name="destination" formControlName="departure"
                                    [matAutocomplete]="autodeparture" />
                            </mat-form-field>
                            <mat-autocomplete #autodeparture="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptionsDeparture | async" [value]="option"
                                    [ngClass]="{'hide-autocomplete': !showAutocomplete}">
                                    {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!--====== SEARCH PART END ======-->